# Secrets
service-account.json
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
backend/scripts/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/

# OS
.DS_Store

# Legacy
legacy/

# Instance
instance/

# IDEs
.idea/
.vscode/
.scannerwork/
